<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPEffectCollectionViewLayoutDemo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CB4630B1EEE785C00FB6C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB463241EEE785C00FB6C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB4632F1EEE785C00FB6C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
